europe_countries {
  display: table;
  background-color: #ffffff;
  border-collapse: collapse;
}
country {
  display: table-row;
}

name, population, capital {
  display: table-cell;
  border: 1px solid;
  padding: 0.5ex;
  margin: 5px;
}
