europe_countries {
  display: table;
  background-color: #ffffff;
  border-collapse: collapse;
}
country, city {
  display: table-row;
}

name, population, capital, city_name, city_population {
  display: table-cell;
  border: 1px solid;
  padding: 0.5ex;
  margin: 5px;
}
